<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.order.mapper.UserAgreementMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, user_name, user_phone, request_id, sign_flow_id, sign_file_path, status, create_time, update_time,order_key,order_no
    </sql>

    <select id="getUserAgreementById" resultType="co.yixiang.modules.order.web.vo.UserAgreementQueryVo">
        select <include refid="Base_Column_List"/> from user_agreement where id = #{id}
    </select>

    <select id="getUserAgreementPageList" resultType="co.yixiang.modules.order.web.vo.UserAgreementQueryVo">
        select <include refid="Base_Column_List"/> from user_agreement
    </select>

</mapper>
