<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.EnterpriseTopicsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, logo, image, synopsis, content, is_del, add_time, is_show
    </sql>

    <select id="getEnterpriseTopicsById" resultType="co.yixiang.modules.shop.web.vo.EnterpriseTopicsQueryVo">
        select <include refid="Base_Column_List"/> from enterprise_topics where id = #{id}
    </select>

    <select id="getEnterpriseTopicsPageList" resultType="co.yixiang.modules.shop.web.vo.EnterpriseTopicsQueryVo">
        select <include refid="Base_Column_List"/> from enterprise_topics
    </select>

</mapper>
