<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxExpressTemplateDetailMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, template_id, area_name, price, create_time, update_time, creater, maker
    </sql>

    <select id="getYxExpressTemplateDetailById" resultType="co.yixiang.modules.shop.web.vo.YxExpressTemplateDetailQueryVo">
        select <include refid="Base_Column_List"/> from yx_express_template_detail where id = #{id}
    </select>

    <select id="getYxExpressTemplateDetailPageList" resultType="co.yixiang.modules.shop.web.vo.YxExpressTemplateDetailQueryVo">
        select <include refid="Base_Column_List"/> from yx_express_template_detail
    </select>

</mapper>
