<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.shop.mapper.YxStoreDiseaseMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, cate_name, sort, pic, is_show, add_time, is_del
    </sql>

    <select id="getYxStoreDiseaseById" resultType="co.yixiang.modules.shop.web.vo.YxStoreDiseaseQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_disease where id = #{id}
    </select>

    <select id="getYxStoreDiseasePageList" resultType="co.yixiang.modules.shop.web.vo.YxStoreDiseaseQueryVo">
        select <include refid="Base_Column_List"/> from yx_store_disease
    </select>

</mapper>
