<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.yaolian.mapper.YaolianOrderDetailMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, drug_id, common_name, amount, price, settle_discount_rate, code, activity_type
    </sql>

    <select id="getYaolianOrderDetailById" resultType="co.yixiang.modules.yaolian.web.vo.YaolianOrderDetailQueryVo">
        select <include refid="Base_Column_List"/> from yaolian_order_detail where id = #{id}
    </select>

    <select id="getYaolianOrderDetailPageList" resultType="co.yixiang.modules.yaolian.web.vo.YaolianOrderDetailQueryVo">
        select <include refid="Base_Column_List"/> from yaolian_order_detail
    </select>

</mapper>
