<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.yaoshitong.mapper.BbsReplyMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, author_id, content, create_at, is_uped, reply_id, upsStr,images
    </sql>

    <select id="getBbsReplyById" resultType="co.yixiang.modules.yaoshitong.web.vo.BbsReplyQueryVo">
        select <include refid="Base_Column_List"/> from bbs_reply where id = #{id}
    </select>

    <select id="getBbsReplyPageList" resultType="co.yixiang.modules.yaoshitong.web.vo.BbsReplyQueryVo">
        select <include refid="Base_Column_List"/> from bbs_reply
    </select>

</mapper>
