<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.yaoshitong.mapper.ChatGroupMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, maker_id, manager_id, create_time, update_time
    </sql>

    <select id="getChatGroupById" resultType="co.yixiang.modules.yaoshitong.web.vo.ChatGroupQueryVo">
        select <include refid="Base_Column_List"/> from chat_group where id = #{id}
    </select>

    <select id="getChatGroupPageList" resultType="co.yixiang.modules.yaoshitong.web.vo.ChatGroupQueryVo">
        select <include refid="Base_Column_List"/> from chat_group
    </select>

</mapper>
