<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.modules.yaoshitong.mapper.YaoshitongUserLableRelationMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, patient_id, lable_id, create_time, update_time
    </sql>

    <select id="getYaoshitongUserLableRelationById" resultType="co.yixiang.modules.yaoshitong.web.vo.YaoshitongUserLableRelationQueryVo">
        select <include refid="Base_Column_List"/> from yaoshitong_user_lable_relation where id = #{id}
    </select>

    <select id="getYaoshitongUserLableRelationPageList" resultType="co.yixiang.modules.yaoshitong.web.vo.YaoshitongUserLableRelationQueryVo">
        select <include refid="Base_Column_List"/> from yaoshitong_user_lable_relation
    </select>

</mapper>
